<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title" style="text-align: center;"><span class="badge badge-success ml-2">فرش های منتخب نمایشگاه های فرش بوم</span></h3>
				<ngb-carousel #carousel interval="4000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
          <ul>
            <li *ngFor="let slide of slides">
              <ng-template ngbSlide>
                <img [src]= "slide.image"/>
                <div class="carousel-caption">
                  <h3 class="text-white font-bold">{{slide.title}}</h3>
                  <p>{{slide.passage}}</p>
                </div>
              </ng-template>
            </li>
          </ul>
				</ngb-carousel>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">نمایشگاه های فرش بوم</h4>
                    <ul class="list-inline m-b-0 ml-auto">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>تعداد تنوع محصولات ما در نمایشگاه های اخیر
                            </h6>
                        </li>
                    </ul>
                </div>
                <div style="height:350px;" class="mt-4 pt-4">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">گونه های فرش بوم</h4>
          <div style="height: 360px">
              <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                  [colors]="[{backgroundColor: ['rgb(2, 190, 201)', 'rgb(116, 90, 242)', 'rgb(40, 167, 69)', 'rgb(30, 136, 229)', 'rgb(255, 178, 43)', 'rgb(239, 83, 80)', 'rgb(80, 50, 162)', 'rgb(50, 110, 162)']}]">
              </canvas>
          </div>
          <table class="table">
            <tr>
              <td><span style="color:#02bec9;text-align: center;">{{doughnutChartLabels[0]}}</span></td>
              <td><span style="color:#02bec9;text-align: center;">{{doughnutChartData[0]}}</span></td>

              <td><span style="color:#745af2;text-align: center;">{{doughnutChartLabels[1]}}</span></td>
              <td><span style="color:#745af2;text-align: center;">{{doughnutChartData[1]}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#28a745">{{doughnutChartLabels[2]}}</span></td>
              <td><span style="color:#28a745">{{doughnutChartData[2]}}</span></td>

              <td><span style="color:#1e88e5">{{doughnutChartLabels[3]}}</span></td>
              <td><span style="color:#1e88e5">{{doughnutChartData[3]}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#ffb22b">{{doughnutChartLabels[4]}}</span></td>
              <td><span style="color:#ffb22b">{{doughnutChartData[4]}}</span></td>

              <td><span style="color:#ef5350">{{doughnutChartLabels[5]}}</span></td>
              <td><span style="color:#ef5350">{{doughnutChartData[5]}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#326ea2">{{doughnutChartLabels[6]}}</span></td>
              <td><span style="color:#326ea2">{{doughnutChartData[6]}}</span></td>
            </tr>
          </table>
      </div>
  </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">ایده فرش بوم</h4>
          <p class="card-text">در نمایشگاههای فرش بوم مشتریان می توانند در میان انبوهی از فرشهای عالی گلچین شده که تنوع زیادی در اندازه، رنگ، نقشه و قیمت دارند، فرش مورد پسند خود را در محیطی آرام با کمک مشاورین فرش بوم انتخاب کرده و قیمتی خوب ، به طور مستقیم از تولیدکننده بخرند. هر تخته از این فرشها توسط کارشناسان خبره فرش بوم با دقت فراوان از میان صدها تخته فرش دیگر به شرط سلامت کامل بافت ، انتخاب و در نمایشگاه عرضه شده است. بنابرین مشتریان حتی با دانش فنی اندک درباره فرش، می توانند فرش مورد پسند خود با اطمینان کامل خریداری کنند. شایان ذکر است که وجوه پرداختی مشتریان عزیز سریعاً و نقداً به تولید کنندگان گرامی پرداخت می گردد تا بی واسطه به دست هنرمندان طراح، رنگرز، فرشباف، و سایر تلاشگران زنجیره تولید فرش برسد.</p>
          <p class="card-text">این شیوه نوین عرضه فرش دستباف ایرانی برای اولین بار توسط فرش بوم اجرا شده و تا امروز نمونه مشابهی ندارد. امیدواریم تلاش ما که تاکنون خوشبختانه با استقبال خوب مشتریان عزیز و تولید کنندگان گرامی همراه بوده، در جهت رونق بازار فرش دستباف ایرانی که شناسنامه فرهنگ این سرزمین است، موثر افتد.</p>
      </div>
  </div>
  </div>
</div>
