<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title" style="text-align: center;"><span class="badge badge-success ml-2">فرش های منتخب نمایشگاه های فرش بوم</span></h3>
				<ngb-carousel #carousel interval="4000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
          <ul>
            <li *ngFor="let slide of slides">
              <ng-template ngbSlide>
                <img [src]= "slide.image"/>
                <div class="carousel-caption">
                  <h3 class="text-white font-bold">{{slide.title}}</h3>
                  <p>{{slide.passage}}</p>
                </div>
              </ng-template>
            </li>
          </ul>
				</ngb-carousel>
			</div>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">نمایشگاه های فرش بوم</h4>
                    <ul class="list-inline m-b-0 ml-auto">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>تعداد تنوع محصولات ما در نمایشگاه های اخیر
                            </h6>
                        </li>
                    </ul>
                </div>
                <div style="height:350px;" class="mt-4 pt-4">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">گونه های فرش بوم</h4>
            <div style="height: 220px">
                <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                    [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                    [colors]="[{backgroundColor: ['rgb(2, 190, 201)', 'rgb(116, 90, 242)', 'rgb(40, 167, 69)', 'rgb(30, 136, 229)', 'rgb(255, 178, 43)', 'rgb(239, 83, 80)', 'rgb(80, 50, 162)', 'rgb(50, 110, 162)']}]">
                </canvas>
            </div>
        </div>
    </div>
    </div>
</div>
