<br/><br/>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">نمایشگاه های فرش بوم</h4>
                    <ul class="list-inline m-b-0 ml-auto">
                        <li>
                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>تعداد تنوع محصولات ما در نمایشگاه های اخیر
                            </h6>
                        </li>
                    </ul>
                </div>
                <div style="height:350px;" class="mt-4 pt-4">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">گونه های پربازدید فرش بوم</h4>
          <div style="height: 360px">
              <canvas baseChart height="100px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType"
                  [colors]="[{backgroundColor: ['rgb(2, 190, 201)', 'rgb(116, 90, 242)', 'rgb(40, 167, 69)', 'rgb(30, 136, 229)', 'rgb(255, 178, 43)', 'rgb(239, 83, 80)', 'rgb(80, 50, 162)', 'rgb(50, 110, 162)']}]">
              </canvas>
          </div>
          <table class="table">
            <tr>
              <td><span style="color:#02bec9;text-align: center;">{{doughnutChartLabels[0]}}</span></td>
              <td><span style="color:#02bec9;text-align: center;">{{doughnutChartData[0] + "%"}}</span></td>

              <td><span style="color:#745af2;text-align: center;">{{doughnutChartLabels[1]}}</span></td>
              <td><span style="color:#745af2;text-align: center;">{{doughnutChartData[1] + "%"}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#28a745">{{doughnutChartLabels[2]}}</span></td>
              <td><span style="color:#28a745">{{doughnutChartData[2] + "%"}}</span></td>

              <td><span style="color:#1e88e5">{{doughnutChartLabels[3]}}</span></td>
              <td><span style="color:#1e88e5">{{doughnutChartData[3] + "%"}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#ffb22b">{{doughnutChartLabels[4]}}</span></td>
              <td><span style="color:#ffb22b">{{doughnutChartData[4] + "%"}}</span></td>

              <td><span style="color:#ef5350">{{doughnutChartLabels[5]}}</span></td>
              <td><span style="color:#ef5350">{{doughnutChartData[5] + "%"}}</span></td>
            </tr>
            <tr>
              <td><span style="color:#326ea2">{{doughnutChartLabels[6]}}</span></td>
              <td><span style="color:#326ea2">{{doughnutChartData[6] + "%"}}</span></td>
            </tr>
          </table>
      </div>
  </div>
  </div>
  <div class="col-md-8">
    <div class="card">
			<div class="card-body">
				<ngb-carousel  #carousel interval="4000" (slide)="onSlide($event)">
          <ng-template ngbSlide>
						<img src="assets/images/users/product.jpg" class="img-fluid" alt="Random third slide">
						<div class="carousel-caption">
							<h3><p style="color:maroon;text-align: center;font-weight: bold;">تعداد فالورهای فرش بوم{{keyvalues[0].title}}  </p></h3>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/users/team.jpg" class="img-fluid" alt="Random first slide">
						<div class="carousel-caption">
              <h3><p style="color:maroon;text-align: center;font-weight: bold;">تعداد تولید کنندگان و شرکای تجاری فرش بوم
                <span>{{stringModel[1].id}}</span>
              </p></h3>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/users/providers.jpg" class="img-fluid" alt="Random second slide">
						<div class="carousel-caption">
              <br><br>
							<h3><p style="color:maroon;text-align: center;font-weight: bold;">تعداد نمایشگاه های فرش بوم {{stringModel[0].id}}</p></h3>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<img src="assets/images/users/exhibition.jpg" class="img-fluid" alt="Random third slide">
						<div class="carousel-caption">
							<h3><p style="color:maroon;text-align: center;font-weight: bold;">تعداد بازدیدکنندگان نمایشگاه{{keyvalues[1].title}}</p></h3>
						</div>
          </ng-template>
				</ngb-carousel>
			</div>
		</div>
  </div>
</div>
