<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">منتخب ما <span class="badge badge-success ml-2">فرش های</span></h3>
				<ngb-carousel #carousel interval="4000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
          <ul>
            <li *ngFor="let slide of slides">
              <ng-template ngbSlide>
                <img [src]= "slide.image"/>
                <div class="carousel-caption">
                  <h3 class="text-white font-bold">{{slide.title}}</h3>
                  <p>{{slide.passage}}</p>
                </div>
              </ng-template>
            </li>
          </ul>
				</ngb-carousel>
			</div>
		</div>
	</div>
</div>
