<div>

  <div>

      <h3>افزودن تصویر</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone">
           <i class="fa fa-upload fa-3x"></i>
          تصویر را به اینجا بکشید
      </div>

      <!-- Multiple
      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/> -->


      <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

      <p>طول: {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">نام</th>
              <th>اندازه</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          </tr>
          </tbody>
      </table>

      <div>
          <div>
              <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="fa fa-upload"></span> بارگذاری
          </button>
          <button type="button" class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="fa fa-ban"></span> انصراف
          </button>
      </div>

  </div>

</div>
<div class="card">
  <div class="card-body">
    <div *ngIf="saveState != '0'">
      <ng-container *ngIf="saveState == '1'; else elseTemplate">
        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
      </ng-container>
      <ng-template #elseTemplate>
        <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      </ng-template>
    </div>

  </div>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-striped">
    <tbody *ngFor="let slide of slides">
      <tr>
          <td>
            <img [src]="'data:image/png;base64,' + slide.image" alt="" height="100px" width="250px">
          </td>
          <td>
            <button type="button" class="btn btn-success btn-circle"
            (click)="onDelete(slide.id)"><i class="fa fa-trash"></i> </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
